<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/css/styleMain.css">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <title>{{title}}</title>
    </head>
    <body>
        <main class="container mainContainer">
            {{{body}}}
        </main>

        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js" crossorigin></script>

        <!-- Own scripts -->
        <script src="/static/js/scriptUI.js"></script>
        <script src="/static/js/scriptUI2.js"></script>
    </body>
</html>
