<div class="jumbotron">
    <select class="form-control" id="dropDown">
        {{#each countries}}
            <option>{{this}}</option>
        {{/each}}
    </select>

    <button id="addDataButton" class="btn btn-primary" onclick="handleAddButton(this)">Add data</button>
    <button id="perCapita" class="btn btn-primary" onclick="handlePerCapita(this)">Per capita</button>
    <div id="dataSetContainer">
        <ul id="dataSetList">
        </ul>
    </div>
    <canvas id="graphCanvas" width="300" height="200"></canvas>
</div>
