<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>A*</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>

        <div id="gridContainer"></div>

        <!-- jQuery script -->
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <!-- Babel script -->
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        <!-- React scripts -->
        <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
        <!-- My scripts -->
        <script type="text/babel" src="/static/js/minesweeper.js"></script>
    </body>
</html>
